@page "/"

<PageTitle>Home</PageTitle>

<h1>Luis Cortorreal <b>2023-0813</b></h1>
<button @onclick="MostrarMensaje">Mostrar Mensaje</button>

Primer Parcial, programaci&oacuten; aplicada 1.

@code{


	private void MostrarMensaje()
	{
		throw new NotImplementedException();
	}

}